.navbar {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardLogo,
.logoutLogo,
.homeLogo {
  font-size: 180%;
}

.dashboardLogo:hover,
.logoutLogo:hover,
.homeLogo:hover {
  cursor: pointer;
}
