.ItemsCon {
  width: 60%;
  padding: 2rem 1rem;
  border-radius: 1.75rem;
  background-color: #edf6f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.2rem black solid;
}

.addInput {
  padding: 0.3rem 0.4rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem black solid;
}

.add {
  padding: 0.3rem 0.4rem;
  margin: 0 0.3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #006d77;
  color: white;
  font-weight: bold;
}

.add:hover {
  cursor: pointer;
  background-color: #158994;
}

.list {
  width: 80%;
  height: 50%;
  list-style: none;
}

.listItem {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem;
}

.listItem li {
  font-size: 120%;
  font-family: "Josefin Sans", sans-serif;
}

.listItem button {
  padding: 0.3rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.listItem .update {
  background-color: rgb(0, 107, 27);
}

.listItem .update:hover {
  background-color: rgb(13, 126, 41);
  cursor: pointer;
}

.listItem .delete {
  background-color: crimson;
}
.listItem .delete:hover {
  background-color: rgb(143, 0, 29);
  cursor: pointer;
}
